# 1. introduction

## 1.1 about dataset

<p>
    This dataset simulates sales transactions for mobile phones and laptops, including product specifications, customer details, and sales information. It contains 50,000 rows of randomly generated data to help analyze product sales trends, customer purchasing behavior, and regional distribution of sales.
</p>
<p>you can download it from <a href="https://www.kaggle.com/datasets/vinothkannaece/mobiles-and-laptop-sales-data">here<a/>. </p>

## 1.2 what are we going to do?

<p>we are going to do some analysis and then use some MachineLearning models on it.</p>

# 2. understand dataset

## 2.1 import needed libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## 2.2 read dataset

In [4]:
df = pd.read_csv("./mobile_sales_data.csv")
df.head(n=3)

,Product,Brand,Product Code,Product Specification,Price,Inward Date,Dispatch Date,Quantity Sold,Customer Name,Customer Location,Region,Core Specification,Processor Specification,RAM,ROM,SSD
0,Mobile Phone,Motorola,88EB4558,Site candidate activity company there bit insi...,78570,2023-08-02,2023-08-03,6,William Hess,South Kelsey,Central,NaN,Snapdragon 7 Gen,12GB,128GB,NaN
1,Laptop,Oppo,416DFEEB,Beat put care fight affect address his.,44613,2023-10-03,2023-10-06,1,Larry Smith,North Lisa,South,Ryzen 5,Ryzen 5,8GB,512GB,256GB
2,Mobile Phone,Samsung,9F975B08,Energy special low seven place audience.,159826,2025-03-19,2025-03-20,5,Leah Copeland,South Todd,Central,NaN,MediaTek Dimensity,8GB,256GB,NaN